.m-colorPicker {
  position: relative;
  text-align: left;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
}

.m-colorPicker ul, .m-colorPicker li, .m-colorPicker ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.m-colorPicker input {
  display: none;
}

.m-colorPicker .colorBtn {
  width: 15px;
  height: 15px;
}

.m-colorPicker .colorBtn.disabled {
  cursor: no-drop;
}

.m-colorPicker .box {
  position: absolute;
  width: 190px;
  background: #fff;
  border: 1px solid #ddd;
  visibility: hidden;
  border-radius: 2px;
  margin-top: 2px;
  padding: 10px;
  padding-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all .3s ease;
  box-sizing: content-box;
  z-index: 9;
  right: 0;
}

.m-colorPicker .box h3 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1;
  color: #333;
}

.m-colorPicker .box.open {
  visibility: visible;
  opacity: 1;
}

.m-colorPicker .hd {
  overflow: hidden;
  line-height: 29px;
}

.m-colorPicker .hd .colorView {
  width: 100px;
  height: 30px;
  float: left;
  transition: background-color .3s ease;
}

.m-colorPicker .hd .defaultColor {
  width: 80px;
  float: right;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #333;
}

.m-colorPicker .tColor li {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 2px;
  transition: all .3s ease;
}

.m-colorPicker .tColor li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.3);
}

.m-colorPicker .bColor li {
  width: 15px;
  display: inline-block;
  margin: 0 2px;
}

.m-colorPicker .bColor li li {
  display: block;
  width: 15px;
  height: 15px;
  transition: all .3s ease;
  margin: 0;
}

.m-colorPicker .bColor li li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.3);
}
