<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <title>GL.iNet Admin Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="google" value="notranslate">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" href="/src/static/css/lib.min.css?rev=f043e44a431234694979846546591qwe454661qwewe8d36ee">
        <link rel="stylesheet" href="/src/static/css/sb-admin.css?rev=49ea84c5431234694979846546591qwe454661qwewe0e23be">
        <link rel="stylesheet" href="/src/static/css/adapter.css?rev=9fc20d2a431234694979846546591qwe454661qwewee9e998">
        <script src="/src/lib/eval2.js?rev=95b51bf5431234694979846546591qwe454661qwewe7a3d64"></script>
        <script src="/src/lib/require.js?rev=5b086924431234694979846546591qwe454661qwewef4837b"></script>
        <script src="/src/config.js?rev=4d8352d6431234694979846546591qwe454661qwewe385a77"></script>
        <script src="/src/main.js?rev=d5a8cd56431234694979846546591qwe454661qwewe4628b0"></script>
        <script src="/src/lib/iconfont.js?rev=15be0f0d431234694979846546591qwe454661qweweaebc55"></script>
	</head>
	<body>
		<div id="app" v-cloak>
            <transition name="main-fade" mode="out-in">
                <!-- <loading v-if="loading"></loading> -->
                <!-- <gl-loading v-if="loading"></gl-loading> -->
                <indext ></indext>
            </transition>
        </div>
	</body>
</html>
