<div class="tab-content" id="meshClient">
    <ol class="breadcrumb">
        <li>
            <a @click="$router.push('internet')" style="text-transform: uppercase">{{t($lang.internet.modem)}}</a>
        </li>
        <li class="gl-active">{{t('Cells Info')}}</li>
    </ol>
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h4>
                <span class="circle active"></span>
                {{t('Cells Info')}}
            </h4>
            <gl-btn type="purple" class="pull-right moblieBtnLate" @click="getCells" :disabled="btnStatus">
                {{t('Refresh')}}
                <span class="fa fa-spinner fa-pulse" v-if="btnStatus"></span>
            </gl-btn>
            <gl-btn type="modify" class="pull-right moblieBtnLate copyJson" :data-clipboard-text="JSON.stringify(cells,null, 4)" @click="initClipboard">
                {{t('Copy')}}
            </gl-btn>
        </div>
        <div class="panel-body panel-status">
            <div v-for="(item, index) in cells" :key="index">
                <!-- Vpn list -->
                <span class="list-group-item  gl-padding-five disflex" data-toggle="collapse" @click="retateShow(index)"
                    :href="'#'+index+'gl_inet'">
                    <span class="col-lg-4" style="color: #000">{{index}}</span>
                    <span class="col-lg-7">{{item.type}}</span>
                    <span class="col-lg-1">
                        <button class="btn pull-right btn-xs retateshow" :class="{transretate:!isretate && index == cellIndex}" >
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </span>
                </span>
                <!-- change Vpn -->
                <div class="vpn-manage-body  collapse" :id="index+'gl_inet'">
                    <!-- <span class="meshconfig">
                        <span class="meshflex-1">{{t('No Data')}}</span>
                    </span> -->
                    <span class="meshconfig" v-for="(data, key,index) in item" :key="index">
                        <span class="col-lg-4">{{key}}</span>
                        <span class="col-lg-7">
                            {{data}}
                        </span>
                        <span class="col-lg-1"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>